root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# shfmt options
indent_style = space
indent_size = 2
binary_next_line = true
space_redirects = true

[{Makefile,*.mk}]
indent_style = tab
indent_size = 2
